PORT=3001
DB_HOST=postgres-auth
DB_PORT=5432
DB_NAME=auth_db
DB_USER=postgres
DB_PASS=postgres123
JWT_SECRET=cab_booking_jwt_secret_2024_very_long_and_secure
JWT_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=7d
REDIS_URL=redis://:redis123@redis:6379
